:root{
    --primary-color: #f2f2f2;
    --primary-button-color: rgba(80, 164, 253, 0.931);
    --primary-button-hover: rgba(42, 139, 243, 0.931);
    --secondary-button-color: rgb(242, 135, 135);
    --secondary-button-hover: rgb(242, 100, 100);
    --text-color: #333;
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 1.5rem;
    --border-radius: 10px;
    --box-shadow: 5px 10px 10px gray;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--spacing-md);
    padding: var(--spacing-md);
    background-color: var(--primary-color);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
}

.todo-form{
    display: flex;
    flex-direction: row;
    gap: var(--spacing-sm);
}

input{
    padding: var(--spacing-sm);
    border: 1px;
    border-radius: var(--border-radius);
}

.form-button{
    padding: var(--spacing-sm);
    background-color: var(--primary-button-color);
    border-radius: var(--border-radius);
    cursor: pointer;
}

.form-button:hover{
    background-color: var(--primary-button-hover);
}

.todo-list-container{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-sm);
}
.todo-item-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--spacing-md);
    padding: var(--spacing-md);
    border: 1px solid white;
    border-radius: var(--border-radius);
    background-color: white;
}

/* .todo-item-list input{
    align-self: flex-start;
} */


.todo-item-button{
    padding: var(--spacing-sm);
    background-color: var(--secondary-button-color);
    border-radius: var(--border-radius);
    cursor: pointer;
}

.todo-item-button:hover{
    background-color: var(--secondary-button-hover);
}

.line{
   width: 100%; 
   height: 2px;
   background-color: black;
}