:root{
    --spacing-md: 1rem;
    --spacing-lg: 2rem;
    --border: 1px solid black;
    --box-shadow: 10px 10px 10px gray;
    --border-radius: 10px
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    overflow: scroll;
    margin: var(--spacing-lg);
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--spacing-md);
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    padding: var(--spacing-lg);
}

.input-container{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
}